
.main{
    margin-left: 15%;
    margin-right: 15%;
}
#hole,#header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#header{
    background-color: rgb(198, 236, 162);
    padding: 3px;
    border-radius: 10px;
    margin-top:25px;
    padding: 5px;
}
#header h2{
    margin-left: 10px;
}

.order-summery{
    border: 2px solid rgb(109, 132, 224);
    background-color: #252686;
    width: 45%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
}
.container{
    margin-top: 10px;
    width: 100%;
    margin-right: 20px;
}
.field{
    border-radius: 10px;
    padding: 15px;
    line-height: 2;
    background-color: rgb(218, 250, 248);
    border: 2px solid rgb(109, 132, 224);
    padding-left: 6%;
    margin-bottom: 10px;
}
.sub-container input{
    border-color: rgb(170, 219, 247);
    width: 58%;
    height: 20px;
    border-radius: 4px;
    padding: 15px;
    background-color: rgb(170, 219, 247);
}
legend{
    background-color: rgb(209, 176, 240);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    border-radius: 5px;
    border: 2px solid rgb(183, 100, 213);
    color: black;
    font-weight: bold;
}
.field .input-name{
    width: 27.5%;
    margin-right: 5px;
}
#order-btn{
    border: none;
    background-color: #a0da8b;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    box-shadow: 0 4px #999;
    
}
#order-btn:active{
    background-color: #007bff;
    transform: translateY(4px);
}
progress{
    width: 100%;
    height: 20px;
}
.item-container2{
    background-color: rgb(218, 250, 248);
    border-radius: 5px;
}
.order-summery-item{
    padding: 5px;
    line-height: 1.6;
}
.order-summery-item img{
    height: 45px;
    margin-right: 10px;
    float: left;
}
.References_no,.order-total{
    background-color: rgb(130, 201, 209);
    padding: 5px;
    border-radius: 5px;
}
#container2-title{
    background-color: rgb(130, 201, 209);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
}

.errors{
    color: red;
}

#reset-btn{
    width: 80px;
    padding: 10px;
    background-color: #a0da8b;
    height: 38px;
    margin-top: 15px;
    float: right;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px #999;
}

#reset-btn:active{
    background-color: #007bff;
    transform: translateY(4px);
}


@media (max-width: 980px){
    .sub-container input{
        width: 180px;
    }
    .field .input-name{
        width: 85px;
    }
}