.main{
    margin-left: 15%;
    margin-right: 15%;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(45, 68, 108, 0.745);
    padding: 3px;
    border-radius: 10px;
    margin-top:25px;
    padding: 5px;
    justify-content: center;
}
#header h2{
    margin-left: 10px;
    color: #ffffff;
}