/* body{
    margin-left: 6.5%;
    margin-right: 6.5%;
} */
.main{
    margin-left: 6.5%;
    margin-right: 6.5%;
}
.item-box{
    width: 150px;
    height: 250px;
    border: 2px solid rgb(109, 132, 224);
    margin: 20px;
    float: left;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgb(12, 12, 84);
    position: relative;
}
img{
    /* width: 80px; */
    height: 100px;
    border-radius: 10px;
}
.add-cart{
    background-color: rgb(199, 233, 106);
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-shadow: 0 4px #999;
    font-weight: bold;
    position: absolute;
    bottom: 15px;
    right: 30px;
}
.add-cart:hover{
    background-color: rgb(255, 127, 138);
    cursor: pointer;
}
.add-cart:active{
    transform: translateY(4px);
}
.basket{
    border: 2px solid rgb(109, 132, 224);
    /* background-color: rgb(247, 255, 193); */
    background-color: rgb(12, 12, 84);
    width: 400px;
    height: 500px;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(198, 236, 162);
    padding: 8px;
    border-radius: 10px;
}
h3{
    /* background-color: rgb(170, 219, 247); */
    padding: 10px;
    /* border-radius: 4px; */
    /* margin-bottom: 10px; */
    /* float: left; */
}
#cart{
    /* background-color: beige; */
    background-color: rgb(199, 185, 255);
    border: 2px solid rgb(187, 114, 255);
    padding: 3px 10px 3px 10px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    float: right;
    font-weight: bold;
}
.basket-title{
    border-radius: 4px;
    background-color: rgb(170, 219, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

#cart img{
    height: 30px;
    margin-right: 10px;
}
/* .container{
    float: left;
} */
#hole{
    display: flex;
    justify-content: space-between;
}
.basket-item,.empty_msg{
    /* background-color: rgb(231, 231, 90); */
    background-color: rgb(5, 185, 205);
    border-radius: 5px;
    padding: 10px;
    line-height: 1.3;
    font-weight: bold;
    /* height: 78px; */
}
.delete_btn{
    float: right;
    border: none;
    padding: 5px;
    background-color: rgb(241, 102, 78);
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    bottom: 8px;
}
.delete_btn:hover{
    background-color: rgb(109, 121, 255);
}
.basket p{
    text-align: right;
}
.container2{
    width: 100%; 
    height: 60%;
    overflow-x: hidden; 
    overflow-y: auto;
}
.q-box{
    background-color: white;
    width: 40px;
    display: inline;
    border-radius: 5px;
    margin-top: 5px;
}
.quantity_num{
   margin: 0px 2px 0px 2px;
}
.plus{
    background-color: rgb(203, 190, 254);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    border: none;
    padding: 0px 3px 0px 3px;
    font-size: 15px;
}
.min{
    background-color: rgb(203, 190, 254);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    border: none;
    padding: 0px 3px 0px 3px;
    font-size: 15px;
}
#search-bar{
    text-align: right;
    /* background-color: rgb(190, 201, 190); */
    /* background-color: #54540C; */
    background-color: #532915;
    /* background-color: #4A2511; */
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    margin-right: 20px;
}
#search-bar input{
    /* border:2px solid rgb(109, 132, 224); */
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    width: 300px;
    background-color: rgb(170, 219, 247);
}
/* #search-bar button{
    border-radius: 8px;
    border: none;
    background-color: rgb(156, 234, 235);
    padding: 5px;
} */
/* #search-bar button:hover{
    background-color: rgb(113, 244, 178);
    cursor: pointer;
} */
.search-bar-and-item-containor{
    width: 100%;
}
#empty-msg{
    text-align: center;
    background-color: rgb(226, 224, 224);
    padding: 50px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
    color: rgb(81, 80, 80);
}
#checkout-btn{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-color: rgb(109, 225, 124);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    top: 22px;
    right: 10px;
    box-shadow: 0 4px #999;
}
#cart-clear-btn{
    float: left;
    margin-top: 10px;
    padding: 6px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    background-color: rgb(255, 191, 127);
    border-radius: 10px;
    /* position: relative;
    right: 35%; */
    cursor: pointer;
    box-shadow: 0 4px #999;
}
#checkout-btn:active{
    background-color: rgb(255, 127, 138);
    transform: translateY(4px);
}
#cart-clear-btn:active{
    background-color: rgb(255, 127, 138);
    transform: translateY(4px);
}