h1{
    text-align: center;
    font-size: 40px;
    position: relative;
    /* left: 50%;
    right: 50%; */
    margin-bottom: 10%;
    margin-top: 1%;
}
.gallery{
    /* border: 2px solid black; */
    padding-top: 0;
    background-color: rgba(0, 62, 112, 0.887);
    padding-bottom: 0;
}

.images{
    /* border: 2px solid red; */
    display: flex;
    height: 400px;
    width: 100%;
    overflow-x: auto;
    padding: 40px 0 40px 0;
    transition: 0.1s ease-in-out;
    opacity: 1;
    overflow: hidden;
    overflow-y: none;
}

.images img{
    padding-right: 3%;
    padding-left: 3%;
    width: calc(100%/3);
}

img:hover{
    transform: scale(1.3);
    opacity: 1;
}

button:hover{
    background-color: rgb(162, 162, 180);
    color: antiquewhite;
}

.gallery .buttons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
}

#previous{
    left: 0px;
    margin-left: 5px;
}

#next{
    right: 0px;
    margin-right: 5px;
}