*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

section{
    position: relative;
    padding-top: 50px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(Images/home6.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
}


header{
    background-color:rgb(12, 12, 84);
    top:0;
    position: fixed;
    width: 100%;
    height: 50px;
    opacity: 100%;
    padding:30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

header .logo{
    position:absolute;
    top: 10px;
    left:25px;
    bottom: 10px;
    color: #000;
    background:white;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 800;
    letter-spacing: 1px;
}

header .navbar a{
    color:white;
    position: relative;
    text-decoration: none;
    font-weight: 450;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 3px 10px;
    margin-left: 20px;


}


header .navbar a::before{
    content : ' ';
    position: absolute;
    top:100%;
    left:0;
    width:0;
    height:2px;
    background: #fff;
    transition: .4s;

}

header .navbar a:hover::before{
    width: 100%;
}

header .navbar a.active {
    color: #ffffff; /* Change color for active page */
}


.content{
    max-width: 650px;
    margin:60px 100px;   
}

.content .info h1{
    padding-top: 10px;
    color:rgb(0, 0, 0);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
    font-style: bold;

}

.content .info {
    display: flex;
    flex-wrap: wrap;
}

.content .info .img1{
    color: #fff;
    height: auto;
    display: flex;
    float: left;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: 10px; /* Adjust margin as needed */
    border-radius: 20px;
    opacity: 1;
    transition: transform 0.3s ease-in-out;
    flex: 0 0 calc(70% - 10px); /* Adjust width based on button width and margin */

    width: calc(100% - 130px); /* Adjust width based on button width and margin */
    max-width: 100%; /* Ensure image does not exceed container width */
    min-width: 300px; /* Set a minimum width for the image */

}

.content .info .img1:hover{
    transform:scale(1.1)
}

.content .info-btn{
    color:#fff;
    background: rgb(248, 92, 2);
    font-weight: 800;
    float:right;
    margin-top: 80px;
    margin-left: 30px;
    padding: 25px 15px;
    border-radius: 10px;
    background:linear-gradient(90deg , #6549c2 , #033a67);
    text-decoration: none;
    letter-spacing: 1px;
    height: 80px;
    display: inline-block;
    flex: 1 0 auto; /* Ensure button takes up available space */
    max-width: 200px; /* Maximum width for the button */
}

.content .info-btn:hover{
    background: rgba(232, 97, 7, 0.939);

}

.additional-info {
    background-color:rgba(46, 49, 52, 0.838);
    color:#fff;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 35px;
    margin-left: 50px;
    border-radius: 15px;
    margin-top: 50px;
    width: 100%;
    float: left;
    display: none; /* Initially hide the box */
}


@media screen and (max-width: 768px) {
    .content .info-btn {
        margin-top: 10px; /* Adjust margin for smaller screens */
        margin-left: auto; /* Align button to the right */
        margin-right: 10px; /* Add some space between the button and the right edge */
        padding: 10px;
        height: 50px; /* Adjust height as needed */
        width:90%;
    }
}


.content .mission-btn{
    color:#fff;
    background: rgb(5, 26, 83);
    font-weight: 800;
    float:inline-start;
    margin-top: 80px;
    margin-left: 80px;
    margin-bottom: 20px;
    padding: 20px 15px;
    border-radius: 10px;
    /* background:linear-gradient(90deg , #2c1a67 , #0465b3); */
    text-decoration: none;
    letter-spacing: 1px;
    height: 60px;
    display: inline-block;

}

.content .mission-btn:hover{
    background: rgba(255, 115, 9, 0.939);

}

.mission{
    background-color:rgba(46, 49, 52, 0.838);
    color:#fff;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 35px;
    margin-left: 50px;
    border-radius: 15px;
    width: 100%;
    float: left;
    display: none; /* Initially hide the box */
}




@media screen and (max-width: 600px) {
    .content .mission-btn {
        font-size: 14px;
        padding: 8px 16px;
        margin-left: 10px;
    }
}







footer{
    padding: 20px 50px; 
    position: relative;
    width: 100%;
    background:#3586ff;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


footer .social{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: 0.3s;
    transition-property: transform;
}

footer .social a{
    position: relative;
    color:#111;
    font-size: 40px;
    transition: 0.4s;
}

footer .social a:not(:last-child){
    margin-right: 60px;
}
footer .social a:hover{
    transform: translateY(-10px);
}

footer .menu{
    position: relative;
    display:flex;
    justify-self: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .menu li{
    list-style: none;
}

footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover{
    opacity: 1;
}


footer .wave{
    position:absolute;
    top:-80px;
    left:0;
    width: 100%;
    height:80px;
    background: url(Images/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;

}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 15px;
    animation: animateWave_02 3s linear infinite;

}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 20px;
    animation: animateWave 3s linear infinite;

}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;

}




@keyframes animateWave

{
    0%{
        background-position-x: 1000px;
    }

    100%{
        background-position-x: 0px;
    }
}

@keyframes animateWave_02

{
    0%{
        background-position-x: 0px;
    }

    100%{
        background-position-x: 1000px;
    }
}






label{
    display:none;
}

#check{
    z-index: 3;
    display:none;
}


























/* Responsiveness */

@media(max-width:750px){
    header .navbar{
        display: none;

        /* height: 15px; */
    
    }

    .content .info .img1,
    .content .info-btn {
        flex: 0 0 100%; /* Make both elements take up full width on smaller screens */
        max-width: 100%;
        margin-right: 0; /* Reset margin */
    }

    label{
        display: block;
        font-size: 20px;
        cursor: pointer;
        transition: 0.3s;
        transition-property:color;
        color:#fff;
    }

    label :hover{
        color: #fff;

    }

    label .close-btn, .menu-btn{
        display:none;
        top:20px;

    }

    header .logo{
        position: relative;
        color: #fff;
        background: none;
    }



    #check:checked~header .logo {
        top: 0;
        bottom: 0;
        position: relative;
        left: 75px;
        transform: translateX(-50%);
        z-index: 3; 
    }



    #check:checked~ header .navbar{
        z-index: 2;
        position: fixed;
        background: rgba(8, 104, 160, 0.81);
        top:0;
        bottom: 0;
        left:0;
        right:0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

    }

    #check:checked~ header .navbar a{

        font-weight: 700;
        margin-right: 0;
        font-size: 20px;
        letter-spacing: 2px;
        color: #fff;
        border-radius: 20px;
        background-color: #000;
        margin-bottom: 20px; /* Add margin between navbar items */
        padding: 8px 20px; /* Adjust padding as needed */

    }

    #check:checked~ header label .menu-btn{
        display: none;
        top:3px;

    }

    #check:checked~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
    }

    label .menu-btn{
        position: absolute;

    }

    header .logo{
        position:absolute;
        bottom:-6px;
    }

    .content .info h1{
        font-size: 30px;
        line-height: 40px;
    }

    .footer{
        position: relative;
    }
}

@media(max-width:500px){
    .content .info h1{
        font-size: 25px;
        line-height: 25px;
    }
}